<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>page</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>
    <link href="/style.css" rel="stylesheet" />
</head>
<body>

<div id="create_room">
    <input id="id" type="number" placeholder="id" />
    <input id="type" type="number" placeholder="type" />
    <input id="room_name" type="text" placeholder="room name" />
    <button id="create">create room</button>
    <input id="room_id" type="number" placeholder="room id" />
    <button id="join">join room</button>
</div>
<div id="output">

</div>

</body>
<script src="/client.js"></script>
</html>
